html
  head
    title Tic Tac Toe

    link(rel="stylesheet" type='text/css' href='/css/application.css')
    script(src="/socket.io/socket.io.js")
    script(src="/js/application.js")

  body
    h1 Tic Tac Toe
