.container
  .row(ng-if='!registered')
    .jumbotron
      h1 Register

      form.form-inline(ng-submit='register()')
        .form-group
          label.sr-only Nickname

          .input-group
            input.form-control.input-lg(name='nick' ng-model='user.nick' required autofocus placeholder='Nickname')

            .input-group-addon
              span Register

        p.error(ng-bind='error')

  .row(ng-if='registered')
    .jumbotron
      h1 Join

      p.waiting(ng-show='nicks.length == 0') Waiting for others to join...

      ul(ng-show='nicks.length > 0')
        li(ng-repeat='nick in nicks')
          a(ng-bind='nick')
